.navbar {
  background: #444;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main {
      display: flex;

      .href {
        display: flex;

        img {
          height: 56px;
          width: 66px;
          padding-right: 10px;
        }

        .title {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        font-size: 18px;
        margin-right: 20px;
      }
    }
  }
}
